*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  font-family: sans-serif !important;
}



/*-------homepage---------*/
.cat-btn{
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
 }
 .cat{
  width: 35rem;
  height: 9px;
  
 }
 .account{
  display: none !important;
 }
 .page-heading{
  font-size: 1.7rem !important;
 }
 .promotext{
  font-size: 1.2rem;
 }

 .banner4{
  width: 100%;
  height: 17rem;
  margin-left: -1%;
 }

 .banner7{
  width: 53rem;
  /* position: absolute !important; */
 }
